body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  margin: 1% 8% !important;
  max-width: 900px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem !important;
  font-style: italic;
  font-weight: 500 !important;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .left-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.message-input {
  width: 89%;
}

.messagesWrapper {
  max-height: 500px;
  overflow: auto;
}

.myMessage {
  margin-left: 72% !important;
}

.actionsBtn {
  padding: 0 !important;
  background: #fff !important;
  margin-left: 5px !important;
}
